#bg-img{
    background-image: url('/images/bg-pattern-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    position: relative;
    z-index: 1;
    width: 50%;
}
#woman{
    position: absolute;
    left: -54px;
    top: 33px;
    z-index: -1;
}

#box{
    position: absolute;
    left: -111px;
    top: 181px;
}

